@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Calibri, sans-serif;
  box-sizing: border-box;
  background-color: #0d0e0e;
  width: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}
h1,h2,h3 {
  font-family: 'Playfair Display', serif;
}

p{
  font-family: Calibri, sans-serif;
}