.serv-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 55px;

    @media screen and (min-width: 768px) {
        align-items: flex-start;
    }


    img {
        // width: 30%;
        height: 100px;
        margin-bottom: 20px;
        padding: 0;
    }

    h5 {
        margin-bottom: 5px;
    }

    p {
        font-size: 15px;
        
    }
}